#grid{width:408px; height:408px; float:left;}

#grid2{width:401px; height:401px; float:left;}

div.cell{ 
	border: none;
	margin: 0;
	padding: 0;
	width: 8px;
	height:8px;
	background: white;
	background-image: url("../img/sprite4.png");
	float:left;}

div#grid div.cell{ 
	border: none;
	margin: 0;
	padding: 0;
	width: 8px;
	height:8px;
	background: red;
	float:left;}

div#grid div.c0{background: black}
div#grid div.c1{background: white}

div.c0{background-position: 0px, 0px;}
div.c1{background-position: -8px, 0px;}
div.c2{background-position: -16px, 0px;}
div.c3{background-position: -24px, 0px;}
div.c4{background-position: -32px, 0px;}
div.c5{background-position: -40px, 0px;}
div.c6{background-position: -48px, 0px;}
div.c7{background-position: -56px, 0px;}
div.c8{background-position: -64px, 0px;}
div.c9{background-position: -72px, 0px;}
div.c10{background-position: -80px, 0px;}
div.c11{background-position: -88px, 0px;}
div.c12{background-position: -96px, 0px;}
div.c13{background-position: -104px, 0px;}
div.c14{background-position: -112px, 0px;}
div.c15{background-position: -120px, 0px;}

/*
1 0001
2 0010
3 0011
4 0100
5 0101
6 0110
7 0111
8 1000
9 1001
10 1010
11 1011
12 1100
13 1101
14 1110
15 1111
*/